{% extends "@Products/layout.html.twig" %}

{% block title %}Nuevo Porducto{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block container %}
    <div class="row mt-3">
        <div class="col">
            <h2>Editar Porducto</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{{ path('products_index') }}" class="btn btn-info mb-3 mt-3">Regresar</a>
        </div>
    </div>
    {{form_start(form, {'action':'', 'method':'POST'})}}
        <div class="form-group">
            <label for="categories">Categoria</label>
            {{form_errors(form.idcategories)}}
            {{form_widget(form.idcategories)}}
        </div>
        <div class="form-group">
            <label for="code">Código</label>
            {{form_errors(form.code)}}
            {{form_widget(form.code)}}
        </div>
        <div class="form-group">
            <label for="name">Nombre</label>
            {{form_errors(form.name)}}
            {{form_widget(form.name)}}
        </div>
        <div class="form-group">
            <label for="description">Descripción</label>
            {{form_errors(form.description)}}
            {{form_widget(form.description)}}
        </div>
    {{form_end(form)}}
{% endblock container %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
